/* Slider */
#slider {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px; /* Добавляем отступ снизу, чтобы слайдер не перекрывал контент */
  }
  
  .slides {
    width: 400%;
    height: 100%;
    position: relative;
    animation: slide 30s infinite;
  }
  
  .slider {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Чтобы изображения заполняли слайдер */
  }
  
  /* Legend */
  .legend {
    border: 500px solid transparent;
    border-left: 800px solid rgba(52, 73, 94, .7);
    border-bottom: 0;
    position: absolute;
    bottom: 0;
  }
  
  /* Contents */
  .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }
  
  .content-txt {
    width: 400px;
    height: 150px;
    float: left;
    position: relative;
    top: 300px;
    animation: content-s 7.5s infinite;
  }
  
  .content-txt h1 {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    text-align: left;
    margin-left: 30px;
    padding-bottom: 10px;
  }
  
  .content-txt h2 {
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
    color: #fff;
    text-align: left;
    margin-left: 30px;
  }
  
  /* Animation */
  @keyframes slide {
    0%, 100% { margin-left: 0%; }
    21% { margin-left: 0%; }
    25% { margin-left: -100%; }
    46% { margin-left: -100%; }
    50% { margin-left: -200%; }
    71% { margin-left: -200%; }
    75% { margin-left: -300%; }
    96% { margin-left: -300%; }
  }
  
  @keyframes content-s {
    0% { left: -420px; }
    10% { left: 20px; }
    15% { left: 0px; }
    30% { left: 0px; }
    40% { left: 0px; }
    50% { left: 0px; }
    60% { left: 0px; }
    70% { left: 0; }
    80% { left: -420px; }
    90% { left: -420px; }
    100% { left: -420px; }
  }